* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  background-image: url("./img/myntra-logo.png");
  background-size: cover;
  height: 40px;
  width: 65px;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 2s ease-in;
  cursor: pointer;
}

.nav-logo:hover {
  scale: 1.1;
  transform: rotateZ(360deg);
}

.menu li {
  list-style: none;
  padding-right: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: arial;
  color: #000;
  opacity: 0.8;
  cursor: pointer;
}

.menu li:hover {
  border-bottom: 2px solid red;
  color: rgb(205, 63, 63);
}

.menu {
  display: flex;
  padding-right: 10px;
}

input {
  height: 40px;
  width: 400px;
  background-color: #eae8e4e4;
  border: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  padding-left: 20px;
  text-align: center;
  cursor: pointer;
}
/*------------------ hero section ------------------*/
.hero-container {
  height: 80vh;
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  background-color: #eef5ff;
  /* background-color: red; */
}

.banner {
  width: 60%;
  height: 100%;
  background-color: antiquewhite;
  background-image: url("./img/shirst.jpg");
  background-size: cover;
}

.offer {
  width: 30%;
  height: 100%;
  background-image: url("./img/offer.jpg");
  background-size: cover;
}

/*----------------- category shop css -------------------*/
.category-header {
  padding-top: 50px;
  padding-left: 40px;
  background-color: #eef5ff;
  font-family: arial;
  /* background-color: red; */
}

.category-header h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.hightlights {
  height: auto;
  background-color: #eef5ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.brand {
  width: 200px;
  height: 250px;
  background-color: red;
  background-size: cover;
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: all 1s ease-out;
}

.brand:hover {
  scale: 1.1;
}

.brand h4 {
  margin-top: 100%;
  padding: 5px;
}

.text-brand {
  color: #fff;
  background-color: rgba(200, 0, 0, 0.8);
  margin: 10px;
  border-radius: 5px;
}

/*--------------- footer css --------------*/
.footer-container {
  height: 50vh;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-family: arial;
}

.footer-container p {
  padding: 5px;
}

/*---------------- mobile friendly -------------------*/

@media (min-width: 150px) and (max-width: 1200px) {
  .header-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .menu li {
    list-style: none;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: arial;
    color: #000;
    opacity: 0.8;
    cursor: pointer;
  }

  .menu li:hover {
    border-bottom: 2px solid red;
    color: rgb(205, 63, 63);
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  input {
    height: 40px;
    width: 300px;
    background-color: #eae8e4e4;
    border: none;
    border-radius: 5px;
    margin: 4px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    padding-left: 20px;
    text-align: center;
    cursor: pointer;
  }

  /*------------------ hero section ------------------*/
  .hero-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #eef5ff;
    /* background-color: red; */
  }

  .banner {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    background-image: url("./img/shirst.jpg");
    background-size: cover;
  }

  .offer {
    width: 100%;
    height: 100%;
    background-image: url("./img/offer.jpg");
    background-size: cover;
  }

  /*----------------- category shop css -------------------*/
  .category-header {
    padding-top: 50px;
    padding-left: 40px;
    background-color: #eef5ff;
    font-family: arial;
    /* background-color: red; */
  }

  .category-header h2 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: center;
  }

  .hightlights {
    height: auto;
    background-color: #eef5ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .brand {
    width: 150px;
    height: 200px;
    background-color: red;
    background-size: cover;
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    transition: all 1s ease-out;
  }

  .brand:hover {
    scale: 1.1;
  }

  .brand h4 {
    margin-top: 100%;
    padding: 3px;
    font-size: 0.9rem;
  }

  .text-brand {
    color: #fff;
    background-color: rgba(200, 0, 0, 0.8);
    margin: 10px;
    border-radius: 5px;
  }

  /*--------------- footer css --------------*/
  .footer-container {
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 30px;
    font-family: arial;
  }

  .footer-container p {
    padding: 5px;
  }
}
